* {
    box-sizing: border-box;
}

body {
    background: #B2D9A7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.assignment {
    display: flex;
}

.assignment img {
    padding: 10px;
    width: 200px;
}

h1 {
    text-align: center;
    color: #F24405;
}

p {
    color: #F24405;
}
a, a:visited, a:link {
    color: #F24405;
    text-decoration: none;
}

.assignment {
    text-align: center;
    text-overflow: clip;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Small sized screens */
@media only screen and (max-width: 480px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* Medium sized screens */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* Large sized screens */
@media only screen and (min-width: 1024px) {
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="head-"] {
    float: left;
    padding: 15px;
}